doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: true, og: true, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "/img/dbootcamp-logo.png"
- var favicon = "/favicon.png"
- var rootid = ""
html(lang="en")
  block vars
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title d|bootcamp Taipei
    // libraries
    include ../library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="//fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet",type="text/css",href="/index.css")
    script(type="text/javascript",src="/index.js")
  body(id=rootid)
    include nav.jade
    block content
    #land-mission: .container.text-center
      br
      h3 Our Mission
      p: i To boost analytical, evidence-based public discussion #[br] by giving citizens, journalists and civil society #[br] access to the data, digital tools, and computational skills #[br] necessary for transforming our societies into digital democracies.
      br
      br
    #base-sponsors.container.text-center
      | The #[a(href="https://twitter.com/search/realtime/%23dbootcamp") #dBootcamp] data literacy initiative is a partnership between
      br
      a(href="http://www.codeforafrica.org/"): img(src="/img/sponsor/c4a.png")
      a(href="http://www.worldbank.org/"): img(src="/img/sponsor/worldbank-group.jpg")
      a(href="http://icfj.org/"): img(src="/img/sponsor/icfj.jpg",style="height:68px")
      br
      | #[a(href="https://twitter.com/search/realtime/%23dbootcamp") #dBootcamps] have helped kickstart the #OpenData and #DataJournalism movement across Africa, Latin America, Eastern Europe, India, Pakistan, Nepal and Taiwan.

    #footer: .container
      .pull-right
        a(href="https://www.facebook.com/CodeForAfrica"): img(src="/img/icon/facebook.png")
        a(href="https://twitter.com/Code4Africa"): img(src="/img/icon/twitter.png")
        a(href="https://plus.google.com/u/0/s/%23dbootcamp"): img(src="/img/icon/google-plus.png")
      span Implemented by #[b Code for Africa]
   
