script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "sameAs": "http://dbootcamp.taipei/",
    "name": [
      { "@language": "en",
        "@value": "d|Bootcamp Taipei"
      },
      { "@language": "zh-TW",
        "@value": "資料新聞實戰營 d|Bootcamp Taipei"
      }],
    "startDate" : "2015-08-21T09:00",
    "url" : "http://dbootcamp.taipei/",
    "location" : {
      "@type" : "Place",
      "sameAs" : "http://hssb.committee.sinica.edu.tw/",
      "name" : "HSSB, Academia Sinica, Taiwan",
      "address" : "128 Academia Road, Section 2, Nankang, Taipei 11529, Taiwan"
    },
    "offers": {
      "@type": "Offer",
      "price": "2980",
      "priceCurrency": "TWD",
      "url": "http://datasci.tw/signup.html"
    }
  }
