html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
html {
  height: 100%;
}
body#landing {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: 'Open Sans', Arial, sans-serif;
}
a {
  color: #0873bb;
}
nav.navbar.navbar-default .navbar-nav a {
  color: #404042;
}
nav.navbar.navbar-default .navbar-nav a:hover {
  color: #0873bb;
}
nav.navbar.navbar-default .navbar-nav li.active a {
  color: #0873bb;
  font-weight: bold;
  background: none;
}
nav.navbar.navbar-default {
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.navbar.navbar-default .container {
  padding: 0;
  margin: auto;
}
nav.navbar.navbar-default .navbar-brand a,
nav.navbar.navbar-default .navbar-nav a {
  height: 70px;
  line-height: 40px;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.navbar.navbar-default img {
  height: 40px;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#landing nav.navbar.navbar-default {
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.4);
}
#landing nav.navbar.navbar-default .navbar-brand a,
#landing nav.navbar.navbar-default .navbar-nav a {
  color: #fff;
}
nav.navbar.navbar-default.zoom,
#landing nav.navbar.navbar-default.zoom {
  background: rgba(255,255,255,0.91);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-bottom: 1px solid #ddd;
}
nav.navbar.navbar-default.zoom .navbar-brand a,
#landing nav.navbar.navbar-default.zoom .navbar-brand a,
nav.navbar.navbar-default.zoom .navbar-nav a,
#landing nav.navbar.navbar-default.zoom .navbar-nav a {
  height: 50px;
  line-height: 20px;
  color: #404042;
}
nav.navbar.navbar-default.zoom img,
#landing nav.navbar.navbar-default.zoom img {
  height: 20px;
}
.frame {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  margin: 10px;
}
.container {
  width: 80%;
  margin: 40px auto;
  max-width: 1024px;
}
@media (max-width: 768px) {
  .container {
    width: 94%;
    margin: 30px auto;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 95%;
    margin: 20px auto;
    padding: 5px;
  }
}
#root {
  margin-top: 120px;
}
#land-cover {
  width: 100%;
  height: 80%;
  background: url("img/cover.jpg") center center no-repeat #22151f;
  background-size: cover;
}
#land-cover-text {
  position: absolute;
  top: 40%;
  margin-top: -60px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
#land-cover-text h1 {
  font-size: 4em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
#land-cover-text h3 {
  font-size: 1.6em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
@media (max-width: 768px) {
  #land-cover-text h1 {
    font-size: 3em;
  }
  #land-cover-text h3 {
    font-size: 1.7em;
  }
}
@media (max-width: 480px) {
  #land-cover-text h1 {
    font-size: 2em;
  }
  #land-cover-text h3 {
    font-size: 1.4em;
  }
}
#land-intro-city,
#land-intro-date {
  color: #333;
  font-size: 2.2em;
  line-height: 1.5em;
}
#land-intro-date {
  font-size: 1.8em;
}
#land-intro-btn {
  border: 2px solid #d94328;
  color: #d94328;
  padding: 15px 25px;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#land-intro-btn:hover {
  color: #fff;
  background: #d94328;
}
#land-keys {
  background: #d64329;
  padding: 20px;
}
.land-key {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.land-key img {
  width: 50%;
  margin: 0 auto 5px;
  max-width: 200px;
}
.land-key .title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
}
.land-key .desc {
  font-size: 0.9em;
}
.land-key i.glyphicon {
  font-size: 8em;
}
#land-speakers {
  background: #086daf;
  padding: 20px 10px;
  text-align: center;
}
#land-speakers h2 {
  color: #fff;
  font-weight: normal;
  margin: 40px auto 30px;
}
.land-speaker {
  width: 200px;
  margin: 25px 50px;
  text-align: center;
  display: inline-block;
  color: #fff;
  vertical-align: top;
}
.land-speaker .avatar {
  width: 190px;
  height: 190px;
  margin: auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ddd;
  background-size: cover;
}
.land-speaker .name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
#land-mission {
  background: #efc152;
  padding: 1px;
}
#footer {
  background: #404042;
  padding: 10px;
  color: #909096;
}
#footer .container {
  margin: 10px;
}
.section-heading {
  background: #efc152;
  padding: 1px;
  color: #fff;
  font-size: 2.1em;
  margin-top: 71px;
}
#land-partners img {
  max-height: 120px;
  margin: 20px;
}
@media (max-width: 480px) {
  #land-partners img {
    max-width: 100%;
    margin: 10px auto;
    display: block;
  }
}
#base-sponsors img {
  max-height: 80px;
  max-width: 100%;
  margin: 20px;
}
#agenda {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#agenda tr.break {
  background: #f9f9f9;
}
#agenda td span {
  margin-right: 10px;
}
.speaker {
  margin: 20px 10px 40px 10px;
  padding: 10px;
}
@media (max-width: 768px) {
  .speaker {
    margin: 10px 5px 30px 5px;
    padding: 5px;
  }
}
.speaker .avatar {
  max-width: 190px;
  width: 100%;
  height: 190px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ddd;
  background-size: cover;
  margin: auto;
}
.speaker .name,
.speaker .title,
.speaker .inst {
  display: inline-block;
}
.speaker .name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 10px 5px 0;
}
.speaker .title,
.speaker .inst {
  font-size: 14px;
}
.speaker .desc {
  white-space: pre-line;
}
@media (max-width: 768px) {
  .speaker .brief {
    text-align: center;
    margin: 10px 0;
  }
  .speaker .name {
    display: block;
  }
}
