html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-family: 'Open Sans', Arial, sans-serif;
}
a {
  color: #0873bb;
}
nav.navbar.navbar-default .navbar-nav a {
  color: #404042;
}
nav.navbar.navbar-default .navbar-nav a:hover {
  color: #0873bb;
}
nav.navbar.navbar-default .navbar-nav li.active a {
  color: #0873bb;
  font-weight: bold;
  background: none;
}
nav.navbar.navbar-default .container {
  padding: 0;
  margin: auto;
}
nav.navbar.navbar-default .navbar-brand a,
nav.navbar.navbar-default .navbar-nav a {
  height: 70px;
  line-height: 40px;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.navbar.navbar-default img {
  height: 40px;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
nav.navbar.navbar-default.zoom .navbar-brand a,
nav.navbar.navbar-default.zoom .navbar-nav a {
  height: 50px;
  line-height: 20px;
}
nav.navbar.navbar-default.zoom img {
  height: 20px;
}
.frame {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  margin: 10px;
}
.container {
  width: 80%;
  margin: 40px auto;
  max-width: 1024px;
}
#land-cover {
  width: 100%;
  height: 80%;
  background: url("img/cover.jpg") center center no-repeat #22151f;
  background-size: cover;
}
#land-cover-text {
  position: absolute;
  top: 40%;
  margin-top: -60px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
#land-cover-text h1 {
  font-size: 4em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
#land-cover-text h3 {
  font-size: 1.6em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.9);
}
#land-intro-city,
#land-intro-date {
  color: #333;
  font-size: 2.2em;
  line-height: 1.5em;
}
#land-intro-date {
  font-size: 1.8em;
}
#land-intro-btn {
  border: 2px solid #d94328;
  color: #d94328;
  padding: 15px 25px;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#land-intro-btn:hover {
  color: #fff;
  background: #d94328;
}
#land-keys {
  background: #f4502a;
  padding: 20px;
}
.land-key {
  text-align: center;
  color: #fff;
}
.land-key .title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}
.land-key .desc {
  font-size: 0.9em;
}
.land-key i.glyphicon {
  font-size: 8em;
}
#land-speakers {
  background: #0064a8;
  padding: 20px 10px;
  text-align: center;
}
.land-speaker {
  width: 200px;
  margin: 20px 40px;
  text-align: center;
  display: inline-block;
  color: #fff;
}
.land-speaker .avatar {
  width: 190px;
  height: 190px;
  margin: auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ddd;
  background-size: cover;
}
.land-speaker .name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
#land-mission {
  background: #f1c227;
  padding: 1px;
}
#footer {
  background: #008a6d;
  padding: 10px;
  color: #00acdb;
}
