html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-size: 1.05em;
}
.frame {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
  margin: 10px;
}
.container {
  width: 80%;
  margin: 40px auto;
  max-width: 1024px;
}
#land-cover {
  width: 100%;
  height: 100%;
  background: url("img/cover.jpg") center center no-repeat #22151f;
  background-size: cover;
}
#land-cover-text {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
#land-cover-text h1 {
  font-size: 2.5em;
}
#land-cover-text h3 {
  font-size: 1.2em;
}
#land-keys {
  background: #f4502a;
  padding: 20px;
}
.land-key {
  text-align: center;
  color: #fff;
}
.land-key .title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}
.land-key .desc {
  font-size: 0.9em;
}
.land-key i.glyphicon {
  font-size: 8em;
}
#land-speakers {
  background: #0064a8;
  padding: 20px 10px;
  text-align: center;
}
.land-speaker {
  width: 200px;
  margin: 20px 40px;
  text-align: center;
  display: inline-block;
  color: #fff;
}
.land-speaker .avatar {
  width: 190px;
  height: 190px;
  margin: auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ddd;
  background-size: cover;
}
.land-speaker .name {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
#land-mission {
  background: #f1c227;
  padding: 1px;
}
#footer {
  background: #008a6d;
  padding: 10px;
  color: #00acdb;
}
