doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var use = { cdn: true, og: true, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://taipei.dbootcamp.org/img/thumbnail.jpg"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title d|bootcamp Taipei
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="//fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet",type="text/css",href="/index.css")
    script(type="text/javascript",src="/index.js")
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": [
          { "@language": "en",
            "@value": "d|Bootcamp Taipei"
          },
          { "@language": "zh-TW",
            "@value": "資料新聞實戰營 d|Bootcamp Taipei"
          }],
        "startDate" : "2015-08-21T09:00",
        "url" : "http://taipei.dbootcamp.org/",
        "location" : {
          "@type" : "Place",
          "sameAs" : "http://hssb.committee.sinica.edu.tw/",
          "name" : "HSSB, Academia Sinica, Taiwan",
          "address" : "128 Academia Road, Section 2, Nankang, Taipei 11529, Taiwan"
        },
        "offers": {
          "@type": "Offer",
          "price": "2980",
          "priceCurrency": "TWD",
          "url": "http://datasci.tw/signup.html"
        }
      }
  body
    script(type="text/javascript").
      var lang = navigator.userLanguage || navigator.language || navigator.browserLanguage || navigator.systemLanguage;
      if(/zh|tw/i.exec(lang)) { 
        window.location.replace("/zh/");
      } else {
        window.location.replace("/en/");
      }
    include template/ga.jade
