nav#nav-top.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#")
        img(src="/img/dbootcamp-logo.png")
    .collapse.navbar-collapse.pull-right
      ul.nav.navbar-nav
        li.active: a(href="#") Registration
        li: a(href="#") Agenda
        li: a(href="#") Speakers
        li: a(href="#") DataSci.tw
        li: a(href="#") About dBootCamp

