extends /template/main.jade
block land-intro
  h3 # d|Bootcamp Taipei is ...
  p 資料科學實戰營 － 透過國際專家分享、密集實作訓練，讓新聞工作者快速學習資料新聞基礎技能。
  br
  p 除了文字和影像之外，記者編輯們，還想玩資料嗎？
  p 在開放資料年代，訊息種類和數量愈來愈龐大，除了傳統跑線方式，我們還需要新的技能，才能有效駕馭訊息，並從中找到更多精彩報導的蛛絲馬跡。
  p
    | 「資料新聞實戰營」特別針對新聞工作者設計一系列精實課程，就算看到數字會頭痛、打開試算表會失去方向，你也有機會從無到有、動手完成一則完整的資料新聞。
  //-
    | 課程包含三大面向:
    h4 國際視野
    p 來自世界銀行、南華早報、數據中文網等世界各地與台灣相關領域的講者，為各位帶來國際資料新聞的最新現況，和編輯台裡面實際的運作狀況。
    h4 實作訓練
    p 由國內相關領域的專家帶領大家學習與實作。資料新聞課程切分為四大主軸，從案例、資料取得與整理、到資料視覺化，著重在立即上手，確保學習到的技術，能立即應用於新聞報導中。
    h4 參與提案
    p 資料新聞需要的是團隊合作。資料新聞實戰營包含零時政府黑客松的介紹，鼓勵所有參與者接續後兩天的零時政府黑客松提案活動，將創意、報導與技術、社群的力量結合，激發出前所未有的媒體型態與新聞報導。

  h3 #「在這個課程中,我將學會 ...」
  p 在專業講師教學、還有隨堂安排助教小幫手的協助下，將學會如何製作資料新聞、如何取得與爬梳資料、熟悉製作資料新聞的基礎工具、理解資料視覺化的基礎心法，以及最重要的，與跨界成員、組隊打怪的機會與實戰經驗。
  p ** 學員需自備筆記型電腦，並預先安裝 Chrome 及 Firefox 瀏覽器

block land-partners
  h3 合作夥伴
  p 感謝這些合作夥伴；有他們在，資料新聞實戰營才有辦法舉行：

