extends /template/main.jade
block land-intro
  include /template/jsonld.jade
  h3 資料新聞實戰營 (d|Bootcamp Taipei) 是...
  p 由 #[b 開放文化基金會]與#[b 世界銀行]共同主辦，邀請來自 Code4Africa、NPR、聯合國、南華早報的國際講者，分享全球新聞室所面臨的挑戰與創新。
  p 同時搭配國內多位具有跨領域經驗的技術講師，針對新聞工作者設計一系列入門但務實的課程，就算看到數字會頭痛、打開試算表會失去方向，你也有機會從無到有、動手完成一則完整的資料新聞。
  p 透過國際專家分享、密集實作訓練，讓新聞工作者快速學習資料新聞基礎技能。第一天的密集課程結束後，隔天直接到 #[b g0v 零時政府黑客松]提案挖坑填坑，保證精實！

  h3 「在這個課程中,我將學會 ...」
  p 在專業講師教學、還有隨堂安排助教小幫手的協助下，將學會如何製作資料新聞、如何取得與爬梳資料、熟悉製作資料新聞的基礎工具、理解資料視覺化的基礎心法，以及最重要的，與跨界成員、組隊打怪的機會與實戰經驗 － 參與世界最活躍的公民參與社群「 g0v 零時政府黑客松」，將你的點子提出來，大家一起來完成！
  h3 「要會寫程式才能報名嗎？」
  p 資料新聞實戰營專為新聞工作者設計，不需要程式背景，不用擔心不會寫程式喔！
  .alert.alert-danger: b 學員需自備筆記型電腦，並預先安裝 Chrome 或 Firefox 瀏覽器


block land-partners
  h3 合作夥伴
  p 感謝這些合作夥伴；有他們在，資料新聞實戰營才有辦法舉行：

