#agenda
  width: 100%
  box-shadow: 0 1px 2px rgba(0,0,0,0.1)
  tr.break
    background: #f9f9f9
  td span
    margin-right: 10px
.clickable-link
  cursor: pointer
  color: #0873bb

.avatar-agenda-popup
  width: 64px
  height: 64px
  border-radius: 5px
  background-repeat: no-repeat
  background-position: center center
  background-color: #ddd
  background-size: cover
  margin-right: 10px
  float: left

h2.agenda-popup
  margin-top: 0

p.agenda-popup
  white-space: pre-line
  text-align: left
