#agenda {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
#agenda tr.break {
  background: #f9f9f9;
}
#agenda td span {
  margin-right: 6px;
}
.clickable-link {
  cursor: pointer;
  color: #0873bb;
}
.avatar-agenda-popup {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ddd;
  background-size: cover;
  margin-right: 10px;
  float: left;
}
h2.agenda-popup {
  margin-top: 0;
}
p.agenda-popup {
  white-space: pre-line;
  text-align: left;
}
.flextable {
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  display: table;
}
.flextable .slot.break {
  background: #f9f9f9;
}
.flextable .slot span {
  margin-right: 6px;
}
.cell-time,
.cell-speaker,
.cell-topic,
.cell-break,
.cell-lang,
.cell-activity {
  display: table-cell;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
.cell-time,
.cell-speaker {
  border-right: 1px solid #ccc;
}
.cell-time {
  font-size: 13px;
  width: 100px;
}
.cell-speaker {
  width: 284px;
}
.cell-topic {
  width: 590px;
}
.cell-break,
.cell-activity {
  width: 875px;
}
.cell-break {
  color: #888;
}
.slot {
  border-bottom: 1px solid #ccc;
}
.slot:last-child {
  border-bottom: none;
}
.container-agenda {
  margin: auto;
}
.flextable,
.container-agenda {
  width: 980px;
}
@media (max-width: 1024px) {
  .flextable,
  .container-agenda {
    width: 700px;
  }
  .cell-topic {
    width: 314px;
  }
  .cell-break,
  .cell-activity {
    width: 598px;
  }
}
@media (max-width: 768px) {
  .flextable {
    width: 100%;
    border-color: #666;
  }
  .container-agenda {
    width: 90%;
  }
  .cell-speaker {
    border-right: none;
    text-align: left;
  }
  .cell-break,
  .cell-activity {
    width: 284px;
  }
  .cell-topic {
    width: 100%;
    display: block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #666;
  }
  .slot {
    border-bottom: none;
  }
  .slot.break,
  .slot.activity {
    border-bottom: 1px solid #666;
  }
  .slot.head {
    background: #f9f9f9;
    font-weight: bold;
  }
}
