.speaker
  margin: 20px 10px 40px 10px
  padding: 10px
  @media (max-width: 768px)
    margin: 10px 5px 30px 5px
    padding: 5px
  .avatar
    max-width: 190px
    width: 100%
    height: 190px
    border-radius: 50%
    background-repeat: no-repeat
    background-position: center center
    background-color: #ddd
    background-size: cover
    margin: auto
  .name, .title, .inst
    display: inline-block
  .name
    font-size: 18px
    font-weight: bold
    margin: 5px 10px 5px 0
  .title, .inst
    font-size: 14px
  .desc
    white-space: pre-line
  @media (max-width: 768px)
    .brief
      text-align: center
      margin: 10px 0
    .name
      display: block
